<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../styles/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Noto+Serif:wght@700&display=swap" rel="stylesheet">
    <title>SCCS</title>
</head>
<style>
    .home{
        text-align: center;
        margin-top: 290px;
        font-family: cursive;
        font-size: 65px;
    }
</style>
<body style="background-image:url('https://img.freepik.com/free-vector/background-realistic-abstract-technology-particle_23-2148431735.jpg?w=2000&t=st=1681229707~exp=1681230307~hmac=4484053976cf53bd674c6fa73de1e6ba2557fdc4c7bafd5279d7b679d60fa13e');">
    <div class="topnav" style="color: antiquewhite; background-image:url('https://img.freepik.com/free-vector/background-realistic-abstract-technology-particle_23-2148431735.jpg?w=2000&t=st=1681229707~exp=1681230307~hmac=4484053976cf53bd674c6fa73de1e6ba2557fdc4c7bafd5279d7b679d60fa13e'); ">
        <a href="/home"  class="split" style="float: left;
        border:solid 1px black; border-radius: 5px;"><b>Home</b></a>
        <a href="/alogin" class="split" style="float: right;
        border:solid 1px black; border-radius: 5px;"><b>Admin Login</b></a>
        <a href="/ulogin" class="split" style="float: right;
        border:solid 1px black; border-radius: 5px;" ><b>User Login</b></a>

    </div> 
    <h1 class="home" style="font-family: 'Cinzel', serif;
    font-family: 'Noto Serif', serif; color:white">Software Component Cataloguing Software</h1>
    <br>
    <h2 style="text-align:center; font-family: 'Noto Serif', serif;  color:white;padding-left: 200px;">-"Unlock the power of code and design reuse with our efficient software component cataloguing solution."</h2>
    <br><br><br><br>
    
</body>
</html>